.App{
  text-align: center;
  width: 50%;
  margin:2rem auto;
}
#app-title{
  font-family: 'Source Serif Pro', serif;
  font-size: 4rem;
  margin: 3rem 0;
}
#color-text{
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-size: 3rem;
  margin: 3rem 0;
  word-wrap: break-word ;
}